


/* FOOTER */

/* .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
} */

.footer-innovador {
  background-color: #0D1E40;
  background-image:
    linear-gradient(135deg, #102C57, #0D1E40),
    radial-gradient(circle at 1px 1px, rgba(255, 255, 255, 0.04) 1px, transparent 0);
  background-size: auto, 40px 40px;
  background-repeat: no-repeat, repeat;
  color: #FFCBCB;
  padding: 80px 60px 30px;
  box-sizing: border-box;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.footer-brand {
  max-width: 300px;
}

.footer-logo {
  width: 180px;
  margin-bottom: 1px;
}

.footer-brand p {
  color: #ffecec;
  font-size: 15px;
  line-height: 1.5;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
  flex-grow: 1;
  justify-content: flex-start;
}

.footer-column h4 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #FFCBCB;
  font-weight: 700;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ffecec;
  font-size: 14px;
  transition: color 0.2s;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

.footer-social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social-icons a {
  color: #ffecec;
  transition: color 0.3s;
}

.footer-social-icons a:hover {
  color: #ffffff;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  color: #ffecec;
  font-size: 14px;
}
